@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
/* 
  颜色生成逻辑: weight=[1-9]
    r = (r1 * (1 - weight) + 255 * weight * 0.1);
    g = (g1 * (1 - weight) + 255 * weight * 0.1);
    b = (b1 * (1 - weight) + 255 * weight * 0.1);
    finalColor = rgb(r,g,b);
*/
:root {
  --el-color-primary: #22a296!important;
  --el-color-primary-light-1: #38aba1!important;
  --el-color-primary-light-2: #4eb5ab!important;
  --el-color-primary-light-3: #64beb6!important;
  --el-color-primary-light-4: #7ac7c0!important;
  --el-color-primary-light-5: #91d1cb!important;
  --el-color-primary-light-6: #a7dad5!important;
  --el-color-primary-light-7: #bde3e0!important;
  --el-color-primary-light-8: #d3ecea!important;
  --el-color-primary-light-9: #e9f6f5!important;
  --el-color-primary-dark-2: #1b8278!important;
}